@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
  cursor: url('https://dl.dropbox.com/s/ftrqxsciqdzrm61/pointer.png?dl=0'), pointer;
}

body{
  overflow: hidden;
}

#world{
  background: linear-gradient(#1652a3 ,#66b4ed);
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#instructions{
  position: absolute;
  width: 100%;
  top: 80%;
  text-align: center;

  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 1.1rem;
  text-transform: uppercase;

  pointer-events: none;
}
.lighten-text{
  font-size: 0.95rem;
  color: #0468b1;
}
.disappeared-text{
  color: #4ec1f2;
}

#credits{
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  margin-bottom: 1rem;

  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.7rem;
}

#credits a{
  color: #ffffff;
}